.skills{
    position: relative;
    margin: 3em 0;
}
.skill-section{
    background-color: #121212;
    border-radius: 25px;
}
.skill-bx{
    margin-bottom: 3em;
    color:#B8B8B8;
}
.skill-subject{
    text-align: center;
    color:aliceblue;
    font-size:30px;
    font-weight:700;
}
.skill-desciption{
    padding: 0 2.5em;
    align-self: center;
}
.skill-slider .item{
    width:80%;
    margin:0 auto;
    position: relative;
    text-align: center;
    & img{
        width:50%;
        margin: 0 auto 15px auto;
    }
    & p{
        color:#B8B8B8;
        font-size: clamp(1em,1vw,1.5em);
        letter-spacing: 0.8px;
        line-height: 1.5em;
        margin: 15px 0 75px 0;
    }
}
